.Main{
    height: 600px;
    overflow-y:scroll;
    background-color: white;

}

.Main1{
    background-color:#5ad3a0;
    z-index: 1;
}

.date{
    font-size: 40px;
}

.btnn {
    opacity: 0.8;
    border-radius: 50px;
    padding: 10px;
    width: 100px;
    border: none;
    background-color: #5ad3a0;
    font-size: xx-large;
    font-weight: lighter;
    height: 100px;
    top: -50px
  }